= form_with url: battles_path, method: :post do |form|
  .form-group
    = form.label :character1_id, "Premier personnage"
    = form.select :character1_id, options_for_select(@characters.all.map { |character| [character.name, character.id] }), { prompt: 'Sélectionner le premier personnage' }, class: 'form-select', 'aria-label' => 'Premier personnage'
  .d-none#weapon-select-form
    = form.label :weapon1_id, "Sélectionnez une arme"
    = form.select :weapon1_id, options_for_select([]), { prompt: 'Sélectionner une arme' }, class: 'form-select', 'aria-label' => 'Sélectionnez une arme'
  .d-none#shield-select-form
    = form.label :shield1_id, "Sélectionnez un bouclier"
    = form.select :shield1_id, options_for_select([]), { prompt: 'Sélectionner un bouclier' }, class: 'form-select', 'aria-label' => 'Sélectionnez un bouclier'
  .mb-3
  .form-group
    = form.label :character2_id, "Deuxième personnage"
    = form.select :character2_id, options_for_select(@characters.all.map { |character| [character.name, character.id] }), { prompt: 'Sélectionner le deuxième personnage' }, class: 'form-select', 'aria-label' => 'Deuxième personnage'
  .d-none#weapon-select-form
    = form.label :weapon2_id, "Sélectionnez une arme"
    = form.select :weapon2_id, options_for_select([]), { prompt: 'Sélectionner une arme' }, class: 'form-select', 'aria-label' => 'Sélectionnez une arme'
  .d-none#shield-select-form
    = form.label :shield2_id, "Sélectionnez un bouclier"
    = form.select :shield2_id, options_for_select([]), { prompt: 'Sélectionner un bouclier' }, class: 'form-select', 'aria-label' => 'Sélectionnez un bouclier'
  .mb-3
  .form-group
    = form.submit "Commencer le combat", class: 'btn btn-primary'